/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Defining Custome Variables */
:root {
    /* Colors */
    --primary-color: #012630;
    --secondary-color: #f3961c;
    --dark-color: #252525;
    --white-color: #fff;
    --light-gray-color: #f2f2f2;

    /* Site Max-Width */
    --site-max-width: 1300px;
}

::selection {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
}

/* Setting for the whole website */
a {
    text-decoration: none;
    font-size: 7px;
}

ul {
    list-style: none;
}

.section_container {
    margin: 0 auto;
    max-width: var(--site-max-width);
}

.section_title {
    text-align: center;
    padding: 60px 0 100px;
    font-size: 32px;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
}

.section_title::after {
    content: '';
    width: 80px;
    background: var(--secondary-color);
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

/* Styling for the header section */
header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 7%;
    z-index: 1;
    background-color: #012630a8;

    backdrop-filter: blur(8px);
}

nav {
    display: flex;
    padding: 10px 0 15px 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--site-max-width);
}

nav ul {
    display: flex;
    gap: 20px;
    

}

nav ul li a {
    display: block;
    padding: 7px 15px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    border-radius: 30px;
    
}

nav ul li a:hover {
    color: var(--secondary-color);
    background: transparent;
    border: 1px solid transparent;
    border-color: var(--secondary-color);
}

nav label {
    font-size: 30px;
    color: var(--white-color);
    cursor: pointer;
}

label .menu_btn,
label .close_btn {
    display: none;
}

#click {
    display: none;
}

.hero_section {
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    background-image: url('assets/images/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* Necesario para que .hero_container se posicione dentro de este contenedor */
    overflow: hidden;
}

.hero_container {
    display: flex;
    background-color: #02020249;
    backdrop-filter: blur(3px);
    gap: 20px;
    padding: 20px;
    align-items: center;
    padding-top: 0px;
    border-radius: 20px;
    /* Elimina el espacio superior */
    min-height: 50%;
    max-width: 38%;
    /* Ajusta el alto al 100% de la ventana */
    justify-content: space-between;
    position: absolute;
    /* Coloca el contenedor sobre la imagen */
    top: 180px;
    /* Lleva el contenido al tope del contenedor */
    left: 20px;
    margin-left: 0%;
    right: 0;
    z-index: 1;
    /* Asegura que el contenido esté sobre la imagen */
}

.hero_container .text_section h2 {
    font-size: 70px;
    color: var(--secondary-color);

}

.hero_container .text_section h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 8px;
}

.hero_container .text_section p {
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
    margin: 24px 0 40px;
    max-width: 70%;
}

.hero_container .hero_section_button {
    display: flex;
    gap: 24px;
}

.hero_container .hero_section_button .button {
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.hero_container .hero_section_button .button:last-child {
    color: var(--white-color);
    border-color: var(--white-color);
    background: none;
}

.hero_container .hero_section_button .button:first-child:hover {
    color: var(--white-color);
    background: transparent;
    border-color: var(--white-color);
}

.hero_container .hero_section_button .button:last-child:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}


/* About Us Section */
.about_us {

    background: var(--white-color);

}

.about_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.about_container .text_section {
    max-width: 60%;
    position: relative;
    top: -500px;

}

.about_container .text_section p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
}

.about_container .image_section {
    max-width: 45%;
}

.about_container .image_section img {
    width: 100%;
}

/* Services Section */
.services {
    background: var(--primary-color);
    color: var(--white-color);
    padding: 30px 20px 120px;
    margin-top: -200px;
}

.section_container {
    display: flex;
    justify-content: center;
    /* Centra el contenedor de tarjetas */
}

.service_container {
    width: 100%;
    max-width: 80vw;
    /* Ancho máximo del contenedor */
}

#shopContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas de igual ancho */
    gap: 20px;
    /* Espaciado entre las tarjetas */
}

/* Aplica aquí tus estilos adicionales para las tarjetas */

/* Card Styles */
.card {
    background-color: #03030360;
    padding: 10px;
    border-radius: 6px;
    gap: 0.5rem;
    width: 100%;
    max-width: 350px;
    height: 380px;
}

.card_form {
    position: relative;
    width: 100%;
    height: 18em;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

/* Centrar los elementos dentro de cada tarjeta */
.card_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Asegurar que la imagen cubra el contenedor sin deformarse */
.card_form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay effect */
.card_form span {
    font-size: 1.5em;
    position: absolute;
    inset: 0;
    padding: 5px 10px;
    color: #fff;
    background-image: linear-gradient(to top, rgba(235, 227, 227, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.card:hover .card_form span,
.card:hover .card_data span {
    opacity: 1;
}

/* Data and Hover Effects */
.card_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_data span {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    font-size: 1em;
    transition: 0.2s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.card_data span:hover {
    text-decoration: underline;
}

/* Text Styling */
.text {
    top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.text_m {
    font-size: 1.5em;
}

.text_s {
    color: #eae9ec;
    font-size: 1em;
}

/* Hover Effects */
.cube {
    width: max-content;
    height: 10px;
    transition: all 0.2s;
    transform-style: preserve-3d;
}

.card:hover .cube {
    transform: rotateX(90deg);
}

/* Accessibility */
.access {
    font-size: 0.6em;
}

/* Side Elements */
.side {
    width: max-content;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 1.3em;
}

/* Rotating Cube Animation */
.top {
    transform: rotateX(-90deg) translate3d(0, 0, 0em);
}

.front {
    transform: translate3d(0, 0, 1em);
}

/* Services Image Adjustments */
.section_container .services_items img {
    width: 100%;
}

.section_container .services_items {
    width: calc(100% / 3 - 120px);
}

.services_items .services_text {
    text-align: center;
}

.services_items .services_text h3 {
    margin: 12px 0;
    font-weight: 600;
    font-size: 24px;
}

.services_items .services_text p {
    font-size: 17px;
}

/* Card Footer */
.card_footer {
    position: relative;
    bottom: 30px;
    left: 107%;
    transform: translateX(-50%);
    display: flex;
    width: 40%;
}

/* Why Us Section */
.why_us {
    background: var(--light-gray-color);
    padding: 60px 20px 120px;
}

.why_us .why_container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: flex-start;
    /* Asegura que todos los elementos comiencen desde la misma altura */
    flex-wrap: wrap;
}

.why_container .why_items img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 4px;
    border-radius: 8px;
}

.why_container .why_items {
    width: calc(100% / 3 - 80px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    min-height: 100%;
    /* Asegura que todas las tarjetas tengan la misma altura */
}

.why_items .why_us_text {
    text-align: center;
    margin-top: auto;
    /* Empuja el texto hacia abajo para que todas las imágenes estén alineadas */
}

.why_items .why_us_text h3 {
    margin: 2px 0;
    font-size: 22px;
}

.why_items .why_us_text p {
    font-size: 17px;
}


/* Gallery Section */
.gallery {
    background: var(--white-color);
    padding: 60px 20px 100px;
}

.gallery .gallery_container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
}

.gallery_container .gallery_items {
    width: calc(100% / 3 - 32px);
    overflow: hidden;
    border-radius: 8px;
}

.gallery .gallery_container img {
    width: 100%;
    height: 200px;
    /* Ajusta la altura para que todas las imágenes tengan el mismo tamaño */
    object-fit: cover;
    /* Asegura que las imágenes se adapten al contenedor sin deformarse */
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.gallery_container .gallery_items:hover img {
    transform: scale(1.3);
}


/* Contact Section */
.contact {
    background: #25252534;
    padding: 60px 20px 100px;
}

.contact_container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.contact_container .contact_form {
    max-width: 65%;
    width: 100%;
}

.contact_container .contact_form .field {
    margin: 20px 0;
}

.contact_container .contact_form .field label {
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
}

.contact_container .contact_form .field input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact_container .contact_form textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
}

.contact_container .contact_form .button {
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 17px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.contact_container .contact_form .button:hover {
    color: var(--primary-color);
    background: transparent;
    border-color: var(--primary-color);
}

.contact_text .contact_items {
    display: flex;
    gap: 20px;
    margin: 80px 0;
}

.contact_text .contact_items i {
    font-size: 32px;
    margin-top: 5px;
}

/* Footer Section */
footer {
    background: #011e25;
    color: var(--white-color);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* Espacio entre las secciones */
}

.footer_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--site-max-width);
}

.footer_top .footer_links {
    display: flex;
    gap: 20px;

}

.footer_top .footer_links ul {
    display: flex;
    gap: 240px;
    list-style: none;
    margin: 12px;
    padding: 0;

}

.footer_top .footer_links ul li {
    margin: 0;

}

.footer_top .footer_links ul li a {
    color: var(--secondary-color);
    font-size: 17px;
    text-decoration: none;
}

.footer_top .footer_links ul li a:hover {
    text-decoration: none;
    color: #ccc;
}

.footer_center {
    text-align: center;
}

.footer_center p {
    margin: 3px 0;
    font-size: 17px;
}


.footer_bottom .follow_us {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    /* Ajusta el valor según sea necesario */
}

.footer_bottom .follow_us i:hover {
    color: var(--secondary-color);
}


/* Responsive Media Query code for max-width: 1024px */
@media screen and (max-width: 1024px) {

    /* Ajustes de navegación */
    nav {
        padding: 15px 10px;
    }

    nav ul {
        display: block;
        background: var(--white-color);
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        text-align: center;
        transition: left 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    #click:checked~label .close_btn {
        display: block;
    }

    #click:checked~label .menu_btn {
        display: none;
    }

    nav ul li {
        display: block;
        padding: 10px;
        width: 100%;
    }

    .hero_container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .hero_container .text_section {
        max-width: 90%;
        text-align: center;
    }

    .about_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about_container .text_section {
        max-width: 90%;
        position: relative;
        top: auto;
    }

    .services .service_container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .section_container .services_items {
        width: calc(50% - 30px);
    }

    .why_us .why_container {
        gap: 40px;
    }

    .why_container .why_items {
        width: calc(50% - 40px);
    }

    .gallery .gallery_container {
        gap: 20px;
    }

    .gallery_container .gallery_items {
        width: calc(50% - 20px);
    }

    .contact_container {
        flex-direction: column;
        align-items: center;
    }

    .contact_text .contact_items {
        margin: 20px 0;
    }

    .footer_section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/* Responsive Media Query code for max-width: 576px */
@media screen and (max-width: 576px) {
    .section_title {
        padding: 30px 0;
        font-size: 24px;
    }

    nav .nav_logo a img,
    .footer_section .footer_logo a img {
        max-width: 35px;
    }

    nav .nav_logo h2 {
        font-size: 24px;
    }

    .hero_container {
        justify-content: center;
        padding: 10px;
    }

    .hero_container .text_section h2 {
        font-size: 24px;
    }

    .hero_container .text_section h3 {
        font-size: 20px;
    }

    .hero_container .text_section p {
        font-size: 14px;
    }

    .about_container .image_section {
        max-width: 100%;
    }

    .button {
        padding: 8px 16px !important;
        font-size: 14px !important;
    }

    .section_container .services_items,
    .why_container .why_items {
        width: 100%;
        text-align: center;
    }

    .gallery_container .gallery_items {
        flex-direction: column;
        width: 100%;
    }

    .services .service_container,
    .why_us .why_container {
        gap: 40px;
    }

    .section_container .services_items img {
        max-width: 100%;
    }
}


.card-products-container {
    margin: 5px;
}

.card-products {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-products img {
    margin-top: 40px;
    width: 250px;
    height: 250px;
}

.card-products button {
    border: none;
    outline: 0;
    padding: 10px;
    color: burlywood;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

.card-products button:hover {
    opacity: 0.7;
}

/* Estilos del botón flotante del carrito */
.cart-btn {
    position: fixed;
    bottom: 20px;
    /* Ajusta para que esté en la esquina inferior derecha */
    right: 20px;
    background-color: var(--primary-color);
    /* Color de fondo */
    color: white;
    /* Color del icono */
    padding: 15px;
    /* Espacio alrededor del ícono */
    border-radius: 50%;
    /* Botón circular */
    width: 60px;
    /* Ancho del botón */
    height: 60px;
    /* Alto del botón */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra */
    z-index: 9999;
    /* Asegura que esté encima de otros elementos */
    transition: background-color 0.3s ease;
}

.cart-btn i {
    font-size: 1.8rem;
    /* Tamaño del icono */
}

.cart-btn:hover {
    cursor: pointer;
    opacity: 0.9;
    background-color: var(--secondary-color);
    /* Cambia el color al hacer hover */
}

.cart-btn i {
    font-size: 1.8rem;
    /* Tamaño del ícono */
    color: white;
    /* Color del ícono */
}

/* Estilos del contador */
.cart-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 65px;
    /* Posicionado justo encima del botón del carrito */
    right: 35px;
    /* Ajusta la posición para que quede alineado */
    color: #ffffff;
    background-color: #ed3434;
    /* Color de fondo del contador */
    padding: 4px;
    border-radius: 50%;
    /* Contador circular */
    height: 22px;
    /* Tamaño del contador */
    width: 22px;
    font-size: 12px;
    /* Tamaño del texto dentro del contador */
    font-weight: bold;
    z-index: 10000;
    /* Asegura que esté encima del botón */
    text-align: center;
}

/* Efecto de clic en el botón */
.cart-btn:active {
    transform: scale(0.95);
    /* Efecto de reducción al hacer clic */
}

/* Modal Overlay */
.modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    filter: blur(20px);
}

/* Modal Container */
.modal-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    /* Fondo semi-transparente */
    box-shadow: 0px 3px 6px var(--dark-color);
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    max-width: 95%;
    width: 600px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    /* Desenfoque del fondo */
}

/* Ocultar barra de scroll */
.modal-container::-webkit-scrollbar {
    display: none;
}

/* Botón de cerrar */
.modal-close {
    float: right;
    cursor: pointer;

    color: var(--primary-color);
}

.modal-close:hover {
    color: var(--secondary-color);
}

/* Título del modal */
.modal-title {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    color: var(--secondary-color);
}

/* Cuerpo del modal */
.modal-body {
    margin-bottom: 20px;
    text-align: center;
    color: var(--white-color);

}

/* Estilos de producto */
.product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;

}

.product-img {
    height: 80px;
    margin-right: 20px;
    width: 80px;
}

.product-info {
    flex: 1;
    text-align: left;

}

.product-info h4 {
    margin-top: 34px;
    color: var(--light-gray-color);
    font-weight: 200;
}

/* Cantidad */
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 4em;

}

.quantity-btn-decrese,
.quantity-btn-increse {
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 16px;
    width: 28px;
    font-weight: bold;
}

.quantity-imput {
    color: var(--light-gray-color);
    font-size: 16px;
    padding: 10 10px;
    text-align: center;
    width: 50px;
    font-weight: bold;
}

/* Responsive adjustments */
@media only screen and (max-width: 500px) {
    .product-img {
        display: none;
    }

    .modal-body {
        margin-top: 5px;
        margin-left: 5px;
    }
}

/* Precio */
.price {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--light-gray-color);
}

/* Eliminar producto */
.delete-product {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    color: var(--dark-color);
}

.delete-product:hover {
    color: var(--secondary-color);
}

/* Pie del modal */
.modal-footer {
    text-align: center;
    margin-top: 20px;
}

.total-price {
    font-size: 27px;
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-primary {
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.btn-primary:hover {
    color: var(--secondary-color);
    background: transparent !important;
    border-color: var(--secondary-color);
}

#button-cherckout {
    z-index: 10;
}

.close-btn {
    background: none;
    /* Elimina el fondo por defecto */
    border: none;
    /* Elimina el borde por defecto */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-btn img {
    width: 20px;
    /* Ajusta el tamaño del icono según necesites */
    height: 20px;
}